{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 9, "knowledge_revision": 18, "git_revision": "b0bb3d00833fc388c2e9b199ec70176648fedf71", "hash": "5bddfc81c81a62715ce15265cea7b56a", "format-version": 4, "code-base-name": "default", "filename": "auth_backend_service_container/requirements.txt", "revision_history": [{"18": "b0bb3d00833fc388c2e9b199ec70176648fedf71"}]}